div[data-testid="UserName"] svg[data-testid="icon-verified"] {
  color: red;
}
div[data-testid="HoverCard"] svg[data-testid="verificationBadge"] {
  color: red;
}
div[data-testid="HoverCard"] > div > div > span > span {
  position: relative;
  visibility: hidden;
  display: inline-block;
  width: 100%;
}
div[data-testid="HoverCard"] > div > div > span > span::after {
  all: inherit;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  display: inline;
  content: "隠れ認証済みアカウント";
}

h2[role="heading"] svg[data-testid="icon-verified"] {
  color: red;
}
